/*
body {
    margin: 0;
}
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

main {
    margin: 16px;
}

.navbar {
    display: flex;
    align-items: center;

    background: #F64C72;
    color: #e8e6e3de;
    font-family: Helvetica;
    font-weight: 300;
}

.navbar__title {
    margin-right: auto;
    font-size: 300%;
    padding: 5px 5px;
    font-family: 'Roboto Mono', monospace !important;
}

.navbar__item {
    padding: 16px 16px;
    margin-left: 16px;
    cursor: pointer;
    vertical-align: middle;
}